div {text-align: center;}

p {text-align: center;}

h1 {text-align: center;}

h2 {text-align: center;}

h3 {text-align: center;}

ol {display: table; margin: 0 auto; text-align: left;}

.font-Comic-Sans {font-family: 'Comic Sans MS', cursive, sans-serif;}

#text_shadow {text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);}

.auto-size-image {width: 15%; height: auto;}

.toc a {
    text-decoration: none;
}

body {
    background-color: rgb(255, 255, 226); 
    color: black;
}


@media screen and (max-width: 1024px) {
    body {
        background-color: rgb(222, 222, 222); 
        color: black;
    }
}


@media screen and (max-width: 600px) {
    body {
        background-color: hotpink; 
        color: black;
    }
}

@media print {
    iframe {display: none}
}

.navbar-custom {
    border: 2px solid rgb(51, 51, 51); /* Dark gray border */
    border-radius: 5px; /* Optional: Add some rounded corners */
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.website-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-container input[type="text"] {
    margin-right: 10px;
    flex: 1;
}